<%= form_for(@wallet) do |f| %>
  <% if @wallet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wallet.errors.count, "error") %> prohibited this wallet from being saved:</h2>

      <ul>
      <% @wallet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :child_id %><br />
    <%= f.text_field :child_id %>
  </div>
  <div class="field">
    <%= f.label :chore_id %><br />
    <%= f.text_field :chore_id %>
  </div>
  <div class="field">
    <%= f.label :payment_status %><br />
    <%= f.check_box :payment_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
