<div id="chore_list">
  <h1>List of Chores:</h1>

  <table>
  <% @chores.each do |chore| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

      <td>
        <%= image_tag(chore.image_url, :class => 'list_image') %>
      </td>

      <td class="list_description">
        <dl>
          <dt><%= chore.title %></dt>
          <dd><%= truncate(strip_tags(chore.description),
                 :length => 180) %></dd>
        </dl>
      </td>

      <td class="list_actions">

        <%= link_to 'Show', chore %><br/>
        <%= link_to 'Edit', edit_chore_path(chore) %><br/>
        <%= link_to 'Remove', chore, 
                    :confirm => 'Are you sure?',
                    :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<br />

<%= link_to 'New chore', new_chore_path %>
