<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Kid Chores Online</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "kids_chores", :media => "all" %><!-- <label id="code.slt"/> -->
<!-- END:stylesheet -->
</head>
<body id="store">
  <div id="banner">
    <%= image_tag("logo.gif") %>
    <%= @page_title || "Track Your Chores" %><!-- <label id="code.depot.e.title"/> -->
  </div>
  <div id="columns">
    <div id="side">
		<%= link_to "Home", home_path %><br /><br/>
		<% @children.each do |child| %>
		    <%= link_to child.name, child_chores_path(:child_id => child.id) %><br /><br />
		<% end %>
	  <div id="child">
		<%= render @child %>
	  </div>
    </div>
	  <div id="main">
        <div id="notice"><%= notice %></div>
		<%= yield %>
      </div>
      <%= debug(params) if Rails.env.development? %>
      <%= debug(notice) if Rails.env.development? %>
      <%= debug(session) if Rails.env.development? %>

	</div>
  </div>
</body>
</html>